## Observations and Insights

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st


# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
study_results_df = pd.read_csv(study_results_path)

In [33]:
mouse_metadata_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [27]:
study_results_df.head()
print(len(study_results_df))

1893

In [36]:
combined_data_df=pd.merge(study_results_df,mouse_metadata_df, on=["Mouse ID"], how='inner')

In [37]:
# Display the data table for preview
combined_data_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [38]:
#show rows and columns of new Dataframe
combined_data_df.shape

(1893, 8)

In [39]:
# Checking the number of mice.
#Option #1

# variable to hold the count 
cnt = 0
  
# list to hold visited values 
visited = [] 
  
# loop for counting the unique 
# values in height 
for i in range(0, len(combined_data_df['Mouse ID'])): 
    
    if combined_data_df['Mouse ID'][i] not in visited:  
        
        visited.append(combined_data_df['Mouse ID'][i]) 
          
        cnt += 1
  
print("No.of.unique values :", 
      cnt)

No.of.unique values : 249

In [40]:
# Checking the number of mice.
#Option #2

n = len(pd.unique(combined_data_df['Mouse ID'])) 
  
print("No.of.unique values :",  
      n)

No.of.unique values : 249

In [41]:
# Checking the number of mice.
#Option #3

# getting the list of unique values 
li = list(combined_data_df['Mouse ID'].value_counts()) 
  
# print the unique value counts 
print("No.of.unique values :", 
     len(li))

No.of.unique values : 249

In [42]:
combined_data_df.isna().mean()

Mouse ID              0.0
Timepoint             0.0
Tumor Volume (mm3)    0.0
Metastatic Sites      0.0
Drug Regimen          0.0
Sex                   0.0
Age_months            0.0
Weight (g)            0.0
dtype: float64

In [43]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_rows_df = combined_data_df[combined_data_df.duplicated(['Mouse ID', 'Timepoint'])]
print("Duplicate Rows based on 2 columns are:", duplicate_rows_df, sep='\n')

Duplicate Rows based on 2 columns are:
    Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites Drug Regimen  \
861     g989          0           45.000000                 0     Propriva
863     g989          5           47.570392                 0     Propriva
865     g989         10           49.880528                 0     Propriva
867     g989         15           53.442020                 0     Propriva
869     g989         20           54.657650                 1     Propriva

        Sex  Age_months  Weight (g)
861  Female          21          26
863  Female          21          26
865  Female          21          26
867  Female          21          26
869  Female          21          26

In [44]:
# Optional: Get all the data for the duplicate mouse ID. 
data_for_dup_mouse_df=combined_data_df.loc[combined_data_df['Mouse ID'].isin(duplicate_rows_df['Mouse ID'])]
data_for_dup_mouse_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26
870,g989,25,56.045564,1,Propriva,Female,21,26
871,g989,30,59.082294,1,Propriva,Female,21,26
872,g989,35,62.570880,2,Propriva,Female,21,26

In [45]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
print(len(combined_data_df))
combined_data_df.drop(combined_data_df[combined_data_df['Mouse ID']=='g989'].index,inplace=True)
#combined_data_df.drop(combined_data_df['Mouse ID']=='g989',inplace=True)
print(len(combined_data_df))

1893
1880

In [46]:
# Checking the number of mice in the clean DataFrame.
n = len(pd.unique(combined_data_df['Mouse ID'])) 
  
print("No.of.unique values :", n)

No.of.unique values : 248

## Summary Statistics

In [28]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
mean_tumor_vol_df=combined_data_df.groupby("Drug Regimen").mean()["Tumor Volume (mm3)"]
mean_tumor_vol_df

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.320930
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

In [47]:
median_tumor_vol_df=combined_data_df.groupby("Drug Regimen").median()["Tumor Volume (mm3)"]
median_tumor_vol_df

Drug Regimen
Capomulin    41.557809
Ceftamin     51.776157
Infubinol    51.820584
Ketapril     53.698743
Naftisol     52.509285
Placebo      52.288934
Propriva     50.446266
Ramicane     40.673236
Stelasyn     52.431737
Zoniferol    51.818479
Name: Tumor Volume (mm3), dtype: float64

In [48]:
variance_tumor_vol_df=combined_data_df.groupby("Drug Regimen").var()["Tumor Volume (mm3)"]
variance_tumor_vol_df

Drug Regimen
Capomulin    24.947764
Ceftamin     39.290177
Infubinol    43.128684
Ketapril     68.553577
Naftisol     66.173479
Placebo      61.168083
Propriva     43.852013
Ramicane     23.486704
Stelasyn     59.450562
Zoniferol    48.533355
Name: Tumor Volume (mm3), dtype: float64

In [49]:
import numpy as np
std_tumor_vol_df=combined_data_df.groupby("Drug Regimen").std()["Tumor Volume (mm3)"]
std_tumor_vol_df

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.622085
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [50]:
sem_tumor_vol_df=combined_data_df.groupby("Drug Regimen").sem()["Tumor Volume (mm3)"]
sem_tumor_vol_df

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.544332
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3), dtype: float64

In [8]:
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen